@import url("https://fonts.googleapis.com/css?family=Poppins:300,400,800|Montserrat:wght@200;400;600&display=swap");
* {
  margin: 0px;
  padding: 0;
}

body {
  background-color: #e6e6ef;
  font-family: "Poppins";
}

a {
  color: #008abf;
  text-decoration: none;
} /* Unvisited link  */
a:visited {
  color: #008abf;
  text-decoration: none;
} /* Visited link    */
a:hover {
  color: #008abf;
  font-weight: 600;
} /* Mouse over link */
a:active {
  color: #008abf;
} /* Selected link   */

.App h3,
h4 {
  font-size: 24px;
  text-align: center;
  font-family: "Poppins";
  font-weight: 400;
  padding-bottom: 10px;
}

h5 {
  font-size: 18px;
  text-align: center;
  font-family: "Poppins";
  font-weight: 200;
  padding-top: 2%;
  padding-bottom: 2%;
}

.loader {
  margin: 50px auto;
}

.container {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: column;
  box-shadow: 0px 1px 2px 0px rgba(9, 30, 66, 0.25);
}

.container-form {
  background: #fefefe;
  border: 1px solid #f1f1f1;
  padding:  30px 50px 50px 50px;
  border-radius: 9px;
  display: inline-flex;
  flex-direction: column;
  flex-grow: 1;
  margin: 4px;
  width: 70vw;
  margin-bottom: 3%;
}

.container-map {
  background: #fefefe;
  border: 1px solid #f1f1f1;
  box-shadow: 0px 1px 2px 0px rgba(9, 30, 66, 0.25);
  border-radius: 9px;
  display: inline-flex;
  flex-direction: column;
  flex-grow: 1;
  margin-bottom: 5px;
  margin-top: 8px;
}

.box-coordinates {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.item {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
}

.item:first-child {
  padding-right: 23px;
}

input.coordinates {
  height: 45px;
  font-size: 1rem;
  border: 1px solid #d0cfce;
  text-indent: 10px;
  line-height: 1.5rem;
  border-radius: 5px;
  width: 100%;
}

input#address-bar {
  margin: 0 auto;
  height: 45px;
  font-size: 1rem;
  border: 1px solid #d0cfce;
  text-indent: 10px;
  line-height: 1.5rem;
  width: 100%;
  border-radius: 5px;
}

textarea#info-bar {
  margin: 5px auto;
  height: 65px;
  font-size: 1rem;
  border: 1px solid #d0cfce;
  text-indent: 10px;
  line-height: 1.5rem;
  width: 100%;
  border-radius: 5px;
}

small {
  font-size: 10px;
  color: #999;
  margin-top: 4px;
  font-style: italic;
}


.btn-add {
  background-color: #008abf;
  color: #e6e6ef;
  height: 40px;
  border: none;
  border-radius: 5px;
  margin: 10px auto;
  width: 170px;
}